In [2]:
import pandas as pd
import seaborn as sns

In [7]:
headers = ["symboling", "normalized_losses", "make", "fuel_type", "aspiration",
           "num_doors", "body_style", "drive_wheels", "engine_location",
           "wheel_base", "length", "width", "height", "curb_weight",
           "engine_type", "num_cylinders", "engine_size", "fuel_system",
           "bore", "stroke", "compression_ratio", "horsepower", "peak_rpm",
           "city_mpg", "highway_mpg", "price"]

# Read in the CSV file and convert "?" to NaN
df_raw = pd.read_csv("https://archive.ics.uci.edu/ml/machine-learning-databases/autos/imports-85.data",
                     header=None, names=headers, na_values="?" )

In [8]:
df_raw

,symboling,normalized_losses,make,fuel_type,aspiration,num_doors,body_style,drive_wheels,engine_location,wheel_base,...,engine_size,fuel_system,bore,stroke,compression_ratio,horsepower,peak_rpm,city_mpg,highway_mpg,price
0,3,NaN,alfa-romero,gas,std,two,convertible,rwd,front,88.6,...,130,mpfi,3.47,2.68,9.0,111.0,5000.0,21,27,13495.0
1,3,NaN,alfa-romero,gas,std,two,convertible,rwd,front,88.6,...,130,mpfi,3.47,2.68,9.0,111.0,5000.0,21,27,16500.0
2,1,NaN,alfa-romero,gas,std,two,hatchback,rwd,front,94.5,...,152,mpfi,2.68,3.47,9.0,154.0,5000.0,19,26,16500.0
3,2,164.0,audi,gas,std,four,sedan,fwd,front,99.8,...,109,mpfi,3.19,3.40,10.0,102.0,5500.0,24,30,13950.0
4,2,164.0,audi,gas,std,four,sedan,4wd,front,99.4,...,136,mpfi,3.19,3.40,8.0,115.0,5500.0,18,22,17450.0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
200,-1,95.0,volvo,gas,std,four,sedan,rwd,front,109.1,...,141,mpfi,3.78,3.15,9.5,114.0,5400.0,23,28,16845.0
201,-1,95.0,volvo,gas,turbo,four,sedan,rwd,front,109.1,...,141,mpfi,3.78,3.15,8.7,160.0,5300.0,19,25,19045.0
202,-1,95.0,volvo,gas,std,four,sedan,rwd,front,109.1,...,173,mpfi,3.58,2.87,8.8,134.0,5500.0,18,23,21485.0
203,-1,95.0,volvo,diesel,turbo,four,sedan,rwd,front,109.1,...,145,idi,3.01,3.40,23.0,106.0,4800.0,26,27,22470.0
204,-1,95.0,volvo,gas,turbo,four,sedan,rwd,front,109.1,...,141,mpfi,3.78,3.15,9.5,114.0,5400.0,19,25,22625.0

In [10]:
# Define a list of models that we want to review
models = ["toyota","nissan","mazda", "honda", "mitsubishi", "subaru", "volkswagen", "volvo"]

# Create a copy of the data with only the top 8 manufacturers
df = df_raw[df_raw.make.isin(models)].copy()

In [24]:
df

,symboling,normalized_losses,make,fuel_type,aspiration,num_doors,body_style,drive_wheels,engine_location,wheel_base,...,engine_size,fuel_system,bore,stroke,compression_ratio,horsepower,peak_rpm,city_mpg,highway_mpg,price
30,2,137.0,honda,gas,std,two,hatchback,fwd,front,86.6,...,92,1bbl,2.91,3.41,9.6,58.0,4800.0,49,54,6479.0
31,2,137.0,honda,gas,std,two,hatchback,fwd,front,86.6,...,92,1bbl,2.91,3.41,9.2,76.0,6000.0,31,38,6855.0
32,1,101.0,honda,gas,std,two,hatchback,fwd,front,93.7,...,79,1bbl,2.91,3.07,10.1,60.0,5500.0,38,42,5399.0
33,1,101.0,honda,gas,std,two,hatchback,fwd,front,93.7,...,92,1bbl,2.91,3.41,9.2,76.0,6000.0,30,34,6529.0
34,1,101.0,honda,gas,std,two,hatchback,fwd,front,93.7,...,92,1bbl,2.91,3.41,9.2,76.0,6000.0,30,34,7129.0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
200,-1,95.0,volvo,gas,std,four,sedan,rwd,front,109.1,...,141,mpfi,3.78,3.15,9.5,114.0,5400.0,23,28,16845.0
201,-1,95.0,volvo,gas,turbo,four,sedan,rwd,front,109.1,...,141,mpfi,3.78,3.15,8.7,160.0,5300.0,19,25,19045.0
202,-1,95.0,volvo,gas,std,four,sedan,rwd,front,109.1,...,173,mpfi,3.58,2.87,8.8,134.0,5500.0,18,23,21485.0
203,-1,95.0,volvo,diesel,turbo,four,sedan,rwd,front,109.1,...,145,idi,3.01,3.40,23.0,106.0,4800.0,26,27,22470.0
204,-1,95.0,volvo,gas,turbo,four,sedan,rwd,front,109.1,...,141,mpfi,3.78,3.15,9.5,114.0,5400.0,19,25,22625.0

In [31]:
pd.crosstab(df.make, df.body_style)

body_style  convertible  hardtop  hatchback  sedan  wagon
make
honda                 0        0          7      5      1
mazda                 0        0         10      7      0
mitsubishi            0        0          9      4      0
nissan                0        1          5      9      3
subaru                0        0          3      5      4
toyota                1        3         14     10      4
volkswagen            1        0          1      9      1
volvo                 0        0          0      8      3

In [37]:
pd.crosstab(df.make, df.body_style, values=df.curb_weight, aggfunc='mean').fillna(0)

body_style  convertible  hardtop    hatchback        sedan        wagon
make
honda               0.0      0.0  1970.000000  2288.800000  2024.000000
mazda               0.0      0.0  2253.500000  2361.142857     0.000000
mitsubishi          0.0      0.0  2376.555556  2394.000000     0.000000
nissan              0.0   2008.0  2740.200000  2237.888889  2452.333333
subaru              0.0      0.0  2136.666667  2314.000000  2453.750000
toyota           2975.0   2585.0  2369.928571  2337.500000  2707.750000
volkswagen       2254.0      0.0  2221.000000  2342.222222  2563.000000
volvo               0.0      0.0     0.000000  3023.000000  3077.666667

In [38]:
pd.crosstab(df.make,df.body_style,normalize=True)

body_style  convertible   hardtop  hatchback     sedan     wagon
make
honda          0.000000  0.000000   0.054688  0.039062  0.007812
mazda          0.000000  0.000000   0.078125  0.054688  0.000000
mitsubishi     0.000000  0.000000   0.070312  0.031250  0.000000
nissan         0.000000  0.007812   0.039062  0.070312  0.023438
subaru         0.000000  0.000000   0.023438  0.039062  0.031250
toyota         0.007812  0.023438   0.109375  0.078125  0.031250
volkswagen     0.007812  0.000000   0.007812  0.070312  0.007812
volvo          0.000000  0.000000   0.000000  0.062500  0.023438

In [39]:
pd.crosstab(df.make,df.body_style,normalize='columns')

body_style  convertible  hardtop  hatchback     sedan   wagon
make
honda               0.0     0.00   0.142857  0.087719  0.0625
mazda               0.0     0.00   0.204082  0.122807  0.0000
mitsubishi          0.0     0.00   0.183673  0.070175  0.0000
nissan              0.0     0.25   0.102041  0.157895  0.1875
subaru              0.0     0.00   0.061224  0.087719  0.2500
toyota              0.5     0.75   0.285714  0.175439  0.2500
volkswagen          0.5     0.00   0.020408  0.157895  0.0625
volvo               0.0     0.00   0.000000  0.140351  0.1875