In [2]:
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt
plt.style.use('seaborn')

/var/folders/5z/wzj0qt495bbdktpqnnk1nx100000gn/T/ipykernel_16981/2099696251.py:4: MatplotlibDeprecationWarning: The seaborn styles shipped by Matplotlib are deprecated since 3.6, as they no longer correspond to the styles shipped by seaborn. However, they will remain available as 'seaborn-v0_8-<style>'. Alternatively, directly use the seaborn API instead.
  plt.style.use('seaborn')

In [3]:
df = pd.read_csv('bitcoin.csv')

In [4]:
df

,Date,Open,High,Low,Close,Volume
0,2017-08-17 04:00:00.000,4261.48,4313.62,4261.32,4308.83,47.181009
1,2017-08-17 05:00:00.000,4308.83,4328.69,4291.37,4315.32,23.234916
2,2017-08-17 06:00:00.000,4330.29,4345.45,4309.37,4324.35,7.229691
3,2017-08-17 07:00:00.000,4316.62,4349.99,4287.41,4349.99,4.443249
4,2017-08-17 08:00:00.000,4333.32,4377.85,4333.32,4360.69,0.972807
...,...,...,...,...,...,...
36163,2021-10-07 05:00:00,55073.20,55073.21,54545.07,54735.76,2251.122020
36164,2021-10-07 06:00:00,54735.77,54968.06,54375.83,54534.16,1783.004260
36165,2021-10-07 07:00:00,54534.16,54793.26,54235.33,54755.92,4163.431360
36166,2021-10-07 08:00:00,54755.91,54778.91,54400.00,54538.30,2049.382180
36167,2021-10-07 09:00:00,54538.31,54547.30,53786.13,53995.50,2739.153610