In [2]:
import pandas as pd
import yfinance as yf

In [4]:
get

[*********************100%***********************]  1 of 1 completed

In [6]:
df

,Open,High,Low,Close,Adj Close,Volume
Date,,,,,,
2014-10-01,127.370003,127.370003,124.309998,124.669998,108.406677,5265200
2014-10-02,124.400002,125.550003,123.839996,124.169998,107.971901,3204500
2014-10-03,124.660004,126.870003,124.660004,126.360001,109.876205,3075900
2014-10-06,127.089996,127.190002,125.379997,126.260002,109.789253,2681000
2014-10-07,125.519997,125.519997,123.290001,123.320000,107.232788,3554900
...,...,...,...,...,...,...
2022-11-22,173.649994,174.990005,171.000000,172.500000,172.500000,4370600
2022-11-23,172.089996,175.000000,171.770004,174.850006,174.850006,3523500
2022-11-25,174.350006,178.460007,174.029999,178.360001,178.360001,3476900
2022-11-28,176.169998,177.139999,171.699997,171.830002,171.830002,5355500
2022-11-29,172.880005,175.949997,172.559998,175.320007,175.320007,5071900

In [8]:
df.info()

<class 'pandas.core.frame.DataFrame'>
DatetimeIndex: 2056 entries, 2014-10-01 to 2022-11-29
Data columns (total 6 columns):
 #   Column     Non-Null Count  Dtype
---  ------     --------------  -----
 0   Open       2056 non-null   float64
 1   High       2056 non-null   float64
 2   Low        2056 non-null   float64
 3   Close      2056 non-null   float64
 4   Adj Close  2056 non-null   float64
 5   Volume     2056 non-null   int64
dtypes: float64(5), int64(1)
memory usage: 112.4 KB